
  .Footer-class {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 32px;
    background-color: black;
    color: whitesmoke;
  }
  
  .Packages-clone ul,
  .Policies ul,
  .Contact-info ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  
  @media (max-width: 768px) {
    .Footer-class {
      flex-direction: column;
      align-items: left;
    }
    /* .Contact-info{
        margin-top: 43px;
        margin-left: 12px;
    } */

  }
  