.move-left-to-right {
    position: absolute;
    top: 100px;
    margin: 0px 50px;
    animation: move-left-to-right 40s linear infinite;
    color: red;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
   

  @keyframes move-left-to-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @media (max-width: 768px) {
      
  }
  
  /*
  .move-left-to-right {
    margin: 0 20px;
    color: red;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .move-left-to-right {
      position: relative;
      top: 0;
      animation: none;
    }
  }
  */