
.Rules {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 30px ;
    position: relative;
 left: 33px;
  
  }
  
  .Rules > div:nth-child(n + 4) {
    grid-row: 2;

    
  }

  .Rules div{
    padding: 23px;
    margin: 0px 23px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 22px;

  }
  
  .curvy-title {
    text-align: center;

    position: relative;
    /* display: inline-block; */
  }
  
  .curvy-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 10px;
    border-radius: 50px / 5px;
    background-color: #000;
  }
  